.header{
	background-color:  #1a0d00;
	background-size: cover;
	text-align:center;
	padding:8px;
}
.main-heading{
	font-family: serif;
	color:white;
}
li{
	display:inline;
	margin-right:50px;
	color: #b35900;
}
a{
	text-decoration: none;
	color: #b35900;
}
.name{
	font-family:serif;
    text-align:center;
    color:black;
}
.text{
	font-family:serif;
    text-align:center;

}
.hobie{
	font-family: Times New Roman;
	font-size: smaller;
}
.image{
	height:200px;
	width: 200px;
	border-radius: 50%;

}
.page2{
	background-color: #cc9966;
	background-size: cover;
	text-align:center;
	padding:8px;
}
.skills li{
	text-align:center;
	color:black;
	display: inline;
}
footer{
	background-color: black;
	color: white;
	padding:10px;
}

.end{
	text-align: center;
}